



<body onload="displayCalendar()"> 
 
<div id="calendar">






<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">I can't believe you remembered!</h1>

        </div>
        <div class="modal-body-success">
           
        </div>
         <div class="form_area">

 
   
  
        <div class="modal-footer">
          
        </div>
      </div>
      
    </div>
  </div>




</div> 

